[submodule "operating-system"]
	path = operating-system
	url = git@github.com:/argos-research/operating-system
[submodule "speed-dreams"]
	path = speed-dreams
	url = git@github.com:/argos-research/speed-dreams
