/*BUTTON STYLING*/

#start-button{
  z-index:10;
  position: relative;
  right: 15px;
  background-color: #4ebfae;
}

#back-icon {
  color: #4ebfae;
}

#radio-button {
  color: #4ebfae;
  margin-right:2px;
}

/*END BUTTON STYLING*/

/*LIST TABLE STYLING*/

.example-container {
  height: 600px;
  overflow-y: auto;
  width: 100%;
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-color: #131920;
}

.example-container::-webkit-scrollbar-track
{
  background-color: #131920;
  margin-top: 13.5%;
}

.example-container::-webkit-scrollbar
{
  width: 6px;
}

.example-container::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#979DA6;
  width: 5px;
}

/*.example-container::-webkit-scrollbar{
  width: 2px;
}*/

table {
  width: 100%;
  height: 100%;
  background-color: #131920;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}


table {
  /* FORM FIELD STANDARD */
  ::ng-deep .mat-header-cell {


  }

}

/* Works */
tr.mat-header-row{
  background-color:#232B35;
}

tr.mat-row{
  background-color:#232B35;
  curser:pointer;
}

tr.mat-row:hover {
  background-color: #131920;
  curser:pointer;
}

.mat-header-cell{
  vertical-align: bottom;
  padding-bottom: 10px !important;
  color: #4ebfae;
  padding-left: 30px;
  width: 25%;
  font-weight: bolder;
  font-size: 14px;
}
td.mat-cell, td.mat-footer-cell{
  border-bottom-width: 2px !important;
  border-bottom-style: solid;
  border-color: #131920;
}

.mat-cell, .mat-footer-cell{
  position: relative;
  padding-left: 30px;
  color: #F8F8F8;
  height: 50px;
}

.mat-table tbody, .mat-table tfoot, .mat-table thead, .mat-table-sticky, [mat-footer-row], [mat-header-row], [mat-row], mat-footer-row, mat-header-row, mat-row{
  border-bottom-width: 2px !important;
  border-bottom-style: solid;
  border-color: #131920 !important;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
}
/* Works end */

.mat-elevation-z8{
  box-shadow: none;
}

/*END LIST TABLE STYLING*/



#content{
  position: relative;
  margin-top: 1%;
  height: -webkit-fill-available;
  background: #232B35;
}

#inputfield{
  margin-top: 1%;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 4%;
}

.input {
  width: 30%;
}