

<button (click)="testCarmen1()">
  Carmen1
</button>
<button (click)="testCarmen2(2)">
  Carmen2
</button>

<div>
  <ul>
    <li *ngFor="let user of users$">
      <a>{{ user.name }} <span>{{ user.name }}</span></a>

      <ul>
        <li>{{ user.name }}</li>
        <li><a href="http://{{ user.name }}">{{ user.name }}</a></li>
      </ul>
    </li>
  </ul>


</div>


<mat-toolbar color="">
  <mat-toolbar-row>
    <img id="logo" src="assets/logo.png" alt="logo" width="140px">
    <span class="example-spacer"></span>
    <i id="radio-button" class="material-icons">radio_button_checked</i>
    <span class="mat-body">Backend Connected</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <i id="back-icon" class="material-icons">
      keyboard_arrow_left</i>
    <a routerLink="" class="mat-body">Back to Home</a>
    <span class="example-spacer"></span>
    <!--<span class="mat-body">Third Line</span>-->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div id ="left-area">
      <span class="mat-h1">Testsetresults</span>
    </div>
    <span class="example-spacer"></span>
    <!--<span class="mat-body">Estimate Finish: 14-3-2018 19:23</span>-->
  </mat-toolbar-row>

</mat-toolbar>

    <div id="content">
      <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef> duration </th>
                  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
              </ng-container>

              <ng-container matColumnDef="Testset_id">
                  <th mat-header-cell *matHeaderCellDef> Testset_id </th>
                  <td mat-cell *matCellDef="let element"> {{element.Testset_id}} </td>

              </ng-container>

              <!--<ng-container matColumnDef="update">
                  <th mat-header-cell *matHeaderCellDef> Update </th>
                  <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                          <mat-icon class="mat-18">system_update</mat-icon>
                      </button>
                  </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                          <mat-icon class="mat-18">delete</mat-icon>
                      </button>
                  </td>
              </ng-container>-->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>

      <!-- <md-list ng-controller="NavCtrl" ng-cloak="" ng-app="MyApp">

         <md-subheader class="md-no-sticky">Navigation</md-subheader>

         <md-list-item ng-repeat="item in navItems" ng-click="navigateTo(item, $event)" ng-class="{ 'nav-active': item == activeItem }">
           <md-icon md-font-set="material-icons">lens</md-icon>
           <p>{{item.name}}</p>
         </md-list-item>

       </md-list>-->

    </div>



<!--
<ul>
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.name }} <span>{{ user.email }}</span></a>

    <ul>
      <li>{{ user.email }}</li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  </li>
</ul>-->
