<mat-toolbar color="">
  <mat-toolbar-row>
    <img id="logo" src="assets/logo.png" alt="logo" width="140px">
    <span class="example-spacer"></span>
    <i id="radio-button" class="material-icons">radio_button_checked</i>
    <span class="mat-body">Backend Connected</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <i id="back-icon" class="material-icons">
      keyboard_arrow_left</i>
    <a routerLink="" class="mat-body">Back to Home</a>
    <span class="example-spacer"></span>
    <!--<span class="mat-body">Third Line</span>-->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div id ="left-area">
      <span class="mat-h1">Testsetresults</span>
    </div>
    <span class="example-spacer"></span>
    <!--<span class="mat-body">Estimate Finish: 14-3-2018 19:23</span>-->
  </mat-toolbar-row>

</mat-toolbar>
<div id="inputfield">

    <mat-form-field appearance="outline">
        <mat-label>Search for Testsetresults</mat-label>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" >
    </mat-form-field>
</div>

    <div id="content">
      <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> duration </th>
                  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
              </ng-container>

              <ng-container matColumnDef="Testset_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Testset_id </th>
                  <td mat-cell *matCellDef="let element"> {{element.Testset_id}} </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/result/{{row.id}}" (click)="onRowClicked(row)"></tr>
          </table>
      </div>



    </div>



<!--
<ul>
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.name }} <span>{{ user.email }}</span></a>

    <ul>
      <li>{{ user.email }}</li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  </li>
</ul>-->
