<mat-toolbar color="">
  <mat-toolbar-row>
<img id="logo" src="assets/logo.png" alt="logo" width="100px">
    <span class="example-spacer"></span>
    <span>
        <button mat-button>Home</button>
        <button mat-button routerLink="resultOverview">Results</button>
        <button mat-button (click)="openSettingsDialog()">Settings</button>
    </span>
    <i id="radio-button" class="material-icons">radio_button_checked</i>
    <span class="mat-body">Backend Connected</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <i id="back-icon" class="material-icons">
      keyboard_arrow_left</i>
    <a routerLink="" class="mat-body">Back to Home</a>
    <span class="example-spacer"></span>
    <!--<span class="mat-body">Third Line</span>-->
  </mat-toolbar-row>
</mat-toolbar>



<div id="content">
  <div id="master" class="example-container mat-elevation-z8">
      <div id="inputfield">
          <mat-form-field appearance="">
              <mat-label>Testsets</mat-label>
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search for Testsets">
          </mat-form-field>
      </div>

      <mat-nav-list>
          <mat-list-item *ngFor="let testset of testsets"
                         [class.selected]="testset === selectedTestset"
                         (click)="onSelect(testset)">
            <span mat-line>{{testset.name}}</span>
          </mat-list-item>
      </mat-nav-list>

      <button mat-mini-fab color="primary" routerLink="">+</button>
  </div>
  <app-overview-detail id="detail" class="example-container" [testset]="selectedTestset"></app-overview-detail>
</div>