/*CONTAINER STYLING*/
#content{
  position: relative;
  margin-top: 1%;
  height: -webkit-fill-available;
  background: #232B35;
}

#master {
  position: absolute;
  left: 0;
  width: 33%;
  color: #F8F8F8;
  -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.6);
  z-index: 10;
}

#detail {
  position: absolute;
  right: 0;
  width: 67%;
  color: #F8F8F8;
  background-color: #2D343C
}
/*END CONTAINER STYLING*/

/*LIST TABLE STYLING*/
.example-container {
  height: 600px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-color: #131920;
}

.example-container::-webkit-scrollbar-track
{
  background-color: #131920;
  margin-top: 13.5%;
}

.example-container::-webkit-scrollbar
{
  width: 6px;
}

.example-container::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#979DA6;
  width: 5px;
}

.mat-nav-list {
  width: 100%;
  height: 89%;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 100px;
  background-color:#131920;
}
.mat-list-item {
  background-color:#232B35;
  border-width: 1.2px !important;
  border-style: solid;
  border-color: #131920 !important;
  width: 99% !important;
}

.mat-list-item-content{
  border: solid 1px !important;
  border-color: #0E0F13 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
}

.mat-list-item-ripple.mat-ripple:last-of-type{
  border-bottom-width: 1px !important;
}

.mat-list-item:active{
  background-color: #0E0F13 !important;
}

.mat-list-item:hover {
  // border-color: #4ebfae !important;
}

.selected {
  border-color: #4ebfae !important;
  background-color: #131920;
}

.mat-elevation-z8{
  box-shadow: none;
}

.mat-header-cell{
  vertical-align: bottom;

  color: #CECFD1;
  padding-left: 30px;
  width: 20%;
}
/*END LIST TABLE STYLING*/

/*BUTTON STYLING*/
#start-button{
  z-index:10;
  position: relative;
  right: 15px;
  background-color: #4ebfae;
}

.mat-mini-fab {
  color: #131920;
  font-size: 30px;
  background-color: #4ebfae;
  left: 80%;
  bottom: 80px;
}
/*END BUTTON STYLING*/

#inputfield {
  min-width: 150px;
  width: 100%;
  margin-left: 4%;
}

.input {
  width: 30%;
}

#master {
  /* FORM FIELD STANDARD */
  ::ng-deep .mat-form-field {
    width: 90%;
    padding-top: 10px;
    .mat-input-element {
      color: #F8F8F8;
    }
    .mat-form-field-label {
      color: #F8F8F8;
    }
    .mat-form-field-underline {
      background-color: #F8F8F8;
    }
    .mat-form-field-ripple {
      background-color: #F8F8F8;
    }
    .mat-form-field-required-marker {
      color: #F8F8F8;
    }
    .mat-form-field-wrapper {

    }
  }
  /* FORM FIELD SELECTED */
  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: #F8F8F8;
    }
    .mat-form-field-ripple {
      background-color: #4ebfae;
    }
    .mat-form-field-required-marker {
      color: #F8F8F8;
    }
    .mat-input-element {
      color: #F8F8F8;
    }
  }
}