.timeline {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

}

#home {
  background-color: lightgray;
  height: 100%;
}

.title {
  color: #979DA6;
  margin-left: 1%;
}

.tp-card {
  width:300px;
  // display:flex;
  // justify-content:center;
  // align-items:center;
  //float: left;
  margin: 1%;
}

.mat-card-image {
  width: 100%;
  margin-top: 0!important;
  margin-left: 5px;
}

.mat-card-image:hover {
  cursor: pointer;
}

.mat-card-header {
  margin-top: 10px!important;
}

