<div id="home">
  <h1 class="title">
    Simulator Testing Kit
  </h1>
  <span class="example-spacer"></span>


  <span class="example-spacer"></span>
  <div fxLayout="row" >
    <mat-card class = "tp-card">
      <img mat-card-image src = "assets/logo.png" alt = "" (click)="selectModuleSpeeddreams()" routerLink="overview">
      <mat-divider></mat-divider>
      <mat-card-header>
        <div mat-card-avatar class = "tp-header-image"></div>
        <mat-card-title>SpeedDreams</mat-card-title>
        <!--<mat-card-subtitle></mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        <p>
          This Suite is used to test migrations with the open source SpeedDreams Simulator.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class = "tp-card">
      <img mat-card-image src = "assets/tbd-logo.jpg" alt = "" (click)="selectModuleRobot()">
      <mat-divider></mat-divider>
      <mat-card-header>
        <div mat-card-avatar class = "tp-header-image"></div>
        <mat-card-title>Robot Arm Controller</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          To be implemented...
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class = "tp-card">
      <img mat-card-image src = "assets/tbd-logo.jpg" alt = "">
      <mat-divider></mat-divider>
      <mat-card-header>
        <div mat-card-avatar class = "tp-header-image"></div>
        <mat-card-title>Microsoft AirSim</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          To be implemented...
        </p>
        <p>
          Open source simulator for autonomous vehicles built on Unreal Engine / Unity.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

