
<div class="container">
  <h1 class="title" #lastNameInput>
    {{ 'PAGES.HOME.TITLE' | translate }} Hier könnte ihre Werbung stehen
  </h1>
  <button routerLink="/create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Create
  </button>
  <a routerLink="/run">Run</a>
  <button (click)="test()"CreateTestset>hello</button>
  <!-- Accent-colored raised button with ripple -->
  <button (click)="test4()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    test4
  </button>
  <button (click)="test3()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    test3
  </button>
  <button routerLink="overview" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    overview
  </button>
  <button (click)="auth()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    authenticate
  </button>
  <button (click)="test5()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    authenticate
  </button>
  <button (click)="test6()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    authenticate
  </button>
  <div>{{d}}</div>

</div>