<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
  <!--<button mat-button>click me</button>-->

<mat-toolbar color="">
  <mat-toolbar-row>
    <img class="logo" src="assets/logo.png" alt="logo" width="100px">
    <span class="example-spacer"></span>
    <i id="radio-button" class="material-icons">radio_button_checked</i>
    <span class="mat-body">Backend Connected</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <i id="back-icon" class="material-icons">
      keyboard_arrow_left</i>
    <a routerLink="" class="mat-body">Back to Home</a>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row><!--(createButtonClicked)="catchCreateTestsetName($event)"-->
    <div id ="header-area" ng-if="testsetName">
      <span class="mat-h1"> {{testsetName}}</span>
      <span class="example-spacer"></span>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-flat-button id="add-scenario-button" (click)="addTab(true, index)">
      <mat-icon>add</mat-icon> Add Scenario
    </button> <!--disabled-->
    <button mat-flat-button color="primary" id="start-button" (click)="onSaveExitClick()">Save & Exit
      <i id="save-icon" class="material-icons">save</i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" >
    <ng-template mat-tab-label>
      {{tab}}
      <span class="example-spacer"></span>
      <mat-icon id="cancel-icon" class="small" [class.invisible]="tabs.length === 1" (click)="removeTab(index)">cancel</mat-icon>
    </ng-template>

    <div id="content">
      <div id="tab-left-area">
        <mat-toolbar-row class="mat-h3">
          Details
          <span class="example-spacer"></span>
        </mat-toolbar-row>

        <div id="tab-left-area-content">
          <mat-card class="mat-h3">
            <mat-card-content>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Scenario Name" [formControl]="formGroupArray.controls[index].controls.name"
                         [errorStateMatcher]="matcher" > <!-- (change)="updateTabs($event)" -->
                  <mat-hint></mat-hint>
                  <mat-error *ngIf="!nameFormControl.hasError('required')">
                    Please enter a valid Scenario name
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Scenario Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </form>
            </mat-card-content>
          </mat-card>

          <mat-card class="mat-h3">
            <mat-card-content>
              <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Fault Injection Time"
                       [max]="240" [min]="0" [formControl]="formGroupArray.controls[index].controls.faultInjectionTime" [errorStateMatcher]="matcher">
                <mat-hint></mat-hint><!-- [(ngModel)]="value" -->
                <mat-error *ngIf="!faultInjectionTimeFormControl.hasError('required')">
                  Please enter a valid Fault Injection Time
                </mat-error>
                <mat-error *ngIf="faultInjectionTimeFormControl.hasError('required')">
                  Fault Injection Time is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <span class="input-value-kind"> Seconds</span>
              <!--
              <mat-slider
                      class="example-margin"
                      [disabled]="false"
                      [invert]="false"
                      [max]="240"
                      [min]="0"
                      [step]="1"
                      [thumbLabel]="false"
                      [tickInterval]="60"
                      [(ngModel)]="value"
                      [vertical]="false">
              </mat-slider>-->
            </mat-card-content>
          </mat-card>

          <mat-card class="mat-h3">
          <mat-card-content>
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Number of Runs" [max]="240" [min]="0"
                     [formControl]="formGroupArray.controls[index].controls.numberOfRuns" [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error *ngIf="!numberOfRunsFormControl.hasError('required')">
                Please enter a valid Number
              </mat-error>
              <mat-error *ngIf="numberOfRunsFormControl.hasError('required')">
                Number of Runs is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <span class="input-value-kind"> Times</span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-h3">
          <mat-card-content>
            <form [formGroup]="form" novalidate>

              <mat-form-field>
                <ngx-mat-file-input formControlName="file" placeholder="QEMU Config File">
                </ngx-mat-file-input>
              </mat-form-field>

            </form>
          </mat-card-content>
        </mat-card>

        </div>



        <!--
        <span class="example-spacer"></span>
        <div id="dump-area">
          Contents for {{tab}} tab
          <button mat-raised-button
                  class="example-delete-tab-button"
                  [disabled]="tabs.length === 1"
                  (click)="removeTab(index)">
            Delete Tab
          </button>
        </div>-->
      </div>

      <div id="tab-mid-area">
        <mat-toolbar-row class="mat-h3">
          Route
          <span class="example-spacer"></span>
        </mat-toolbar-row>

        <div id="tab-mid-area-content">
          <span class="route-icons">
              <i id="left-icon" class="material-icons" (click)="onLeftClick(index)">
              keyboard_arrow_left</i>
          </span>
          <h3 id="tab-mid-area-content-routes" class="mat-h3">
              {{selectedRoute[index].name}}
          </h3>
          <span class="route-icons">
              <i id="right-icon" class="material-icons" (click)="onRightClick(index)">
              keyboard_arrow_right</i>
          </span>
        </div>

      </div>

      <div id="tab-right-area">
        <mat-toolbar-row class="mat-h3">
          Mode
          <span class="example-spacer"></span>
        </mat-toolbar-row>
        <mat-nav-list>
          <mat-list-item *ngFor="let mode of modes"
                         [class.selected]="mode === selectedMode[index]"
                         (click)="onSelect(mode, index)">
            <h1 mat-line class="mat-body-2">{{mode.shortName}}</h1>
            <div mat-line class="mat-small">{{mode.fullName}}</div>
            <div mat-line class="mat-small">{{mode.description}}</div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-tab>
  <!--
  <mat-tab>
    <ng-template mat-tab-label >
      <mat-icon (click)="addTab(true)">add</mat-icon> Add Scenario
    </ng-template>
  </mat-tab>-->
</mat-tab-group>
<!--
<mat-tab-group (selectedTabChange)="addTab($event, true)">

</mat-tab-group>-->