<a routerLink="/overview" class="mat-body" fxFlexAlign="center">
    <i class="material-icons back-icon" >keyboard_arrow_left</i>
    Back to Home
</a>
<span class="example-spacer"></span>

<mat-toolbar color="">

    <mat-toolbar-row>
        <div id="left-area">
            <span class="mat-h1">Testset: {{headerTitle}} currently running..</span>
            <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
        </div>
        <span class="example-spacer"></span>
        <div id="right-area">
            <div>Estimate Finish: {{estimateFinish}}</div>
            <div class="stopwatch"></div>
        </div>
        <!--<span class="mat-body">Estimate Finish: 14-3-2018 19:23</span>-->
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" id="start-button" (click)="stopTest()">Stop</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="onActiveTabChange($event)"
               (selectedIndexChange)="selected.setValue($event)" #tab>
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">

        <div id="content">
            <!--  <nav class="controls">
             <a class="button" (click)="stopwatch.start();">Start</a>
             <a class="button" (click)="stopwatch.lap();">Lap</a>
             <a class="button" (click)="stopwatch.stop();">Stop</a>
             <a class="button" (click)="stopwatch.restart();">Restart</a>
             <a class="button" (click)="stopwatch.clear();">Clear Laps</a>
           </nav>


        <button mat-raised-button
                   class="example-delete-tab-button"
                   [disabled]="tabs.length === 1"
                   (click)="removeTab(index)">
             Delete Tab
           </button>-->
            <div class="top-section">
                <div class="info-container" id="info-container">
                    <span class='mat-h2'>Info</span>
                    <table mat-table [dataSource]="dataSource1[index]">

                        <!-- Position Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="list-status"
                                     [ngClass]="{'disabled-class': element.state > 0, 'running-class' : element.state > 2}"></div>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="runId">
                            <th mat-header-cell *matHeaderCellDef> Run</th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}}</td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef> Time</th>
                            <td mat-cell *matCellDef="let element"> {{element.duration}}</td>
                        </ng-container>


                        <!-- Symbol Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <div [ngClass]="{'loader': element.state > 2}" style="visibility: hidden">
                                    <loaders-css [loader]="'ball-clip-rotate'" [scale]="'0.9'"></loaders-css>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <div id="spacer">
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </div>
                    </table>
                </div>

                <div class="result-overview">
                    <div id="{{'gaugechart' + index}}" class="gaugechart"></div>
                </div>

            </div>


            <div class="feed-container mat-elevation-z8" id="feed-container">
                <table mat-table [dataSource]="dataSource[index]">

                    <!-- Name Column -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef> Key</th>
                        <td mat-cell *matCellDef="let element"> {{element.key}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Value</th>
                        <td mat-cell *matCellDef="let element"> {{element.value}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                    <div id="spacer">
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </div>
                </table>
            </div>
            <!-- <md-list ng-controller="NavCtrl" ng-cloak="" ng-app="MyApp">

               <md-subheader class="md-no-sticky">Navigation</md-subheader>

               <md-list-item ng-repeat="item in navItems" ng-click="navigateTo(item, $event)" ng-class="{ 'nav-active': item == activeItem }">
                 <md-icon md-font-set="material-icons">lens</md-icon>
                 <p>{{item.name}}</p>
               </md-list-item>

             </md-list>

             <mat-nav-list>
               <a mat-list-item routerLink="/home" routerLinkActive="active-list-item">
                 <h2 matLine>Home</h2>
                 <mat-icon matListIcon>home</mat-icon>
               </a>
               <a mat-list-item routerLink="/account" routerLinkActive="active-list-item">
                 <h2 matLine>Account</h2>
                 <mat-icon matListIcon>person</mat-icon>
               </a>
               <a mat-list-item routerLink="/settings" routerLinkActive="active-list-item">
                 <h2 matLine>Settings</h2>
                 <mat-icon matListIcon>settings</mat-icon>
               </a>
             </mat-nav-list>-->
        </div>
    </mat-tab>
    <!--  <mat-tab (click)="addTab(selectAfterAdding.checked)" label="+ Add Item">

      </mat-tab>-->
</mat-tab-group>