<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
  <h3>SpeedDreams Race View-Mode</h3>
  <mat-checkbox [(ngModel)]="isCheckedVisualization">No Race Visualization</mat-checkbox>
  <mat-toolbar-row></mat-toolbar-row>

  <h3>Database</h3>
  <div><mat-checkbox [(ngModel)]="isCheckedResults">Flush ALL Results</mat-checkbox></div>
  <div><mat-checkbox [(ngModel)]="isCheckedDatabase">Flush COMPLETE Database</mat-checkbox></div>
  <mat-toolbar-row></mat-toolbar-row>

  <h3>Additional Config Possibilities To Be implemented...</h3>
  <ol>
    <li>./src/config/ecuACCConfiguration</li>
    <li>./src/config/ecuPerformanceConfiguration</li>
    <li>Vllt. eine Standard Config hier hinterlegen?</li>
  </ol>
  <p></p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>