<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
  <h3>SpeedDreams Race View-Mode</h3>
  <mat-checkbox [(ngModel)]="isCheckedVisualization">No Race Visualization</mat-checkbox>
  <mat-toolbar-row></mat-toolbar-row>

  <h3>Database</h3>
  <div><mat-checkbox [(ngModel)]="isCheckedResults">Flush ALL Results</mat-checkbox></div>
  <div><mat-checkbox [(ngModel)]="isCheckedDatabase">Flush COMPLETE Database</mat-checkbox></div>
  <mat-toolbar-row></mat-toolbar-row>

  <h3>Admin Password</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <input type="password" matInput placeholder="Enter Password" [formControl]="passwordFormControl">
      <mat-hint></mat-hint>
    </mat-form-field>
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>